.App {
  text-align: center;
}

.App .navbar{
  padding-left:35px;
  padding-right:35px;
}

.App .table-area{
  margin-left:0;
  margin-right:0;
  overflow-x:auto;
  overflow-y: hidden;
}
h1{
  font-size:20px;
  line-height: 24px;
}

.title{
  font-weight: bold;
}
h3.title{
  margin-top:30px;
}
.table th{
  font-size:1.2em;
}
.table td{
  font-size:1.1em;
}
.navbar-text{
  font-weight: bold; 
  font-size: 12pt;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding:10px;
  background: #eef9ee;
}
.motion_logo{
  position: absolute;
  top:10px;
  right:10px;
}
@media screen and (max-width:480px){
  small{
    display:block;
    text-align:center;
    margin:0 auto;
  }
  .motion_logo{
    position: static;
    display:block;
    margin:10px auto;
  }
}