.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .navbar{
  padding-left:35px;
  padding-right:35px;
}

.App .tableArea{
  margin-left:0;
  margin-right:0;
}
h1{
  font-size:20px;
  line-height: 24px;
}

.title{
  font-weight: bold;
}
h3.title{
  margin-top:30px;
}
.table th{
  font-size:1.2em;
}
.table td{
  font-size:1.1em;
}
.navbar-text{
  font-weight: bold; 
  font-size: 12pt;
}
.footer{
  position: relative;
  padding:10px;
  background: #eef9ee;
}
.motion_logo{
  position: absolute;
  top:10px;
  right:10px;
}
@media screen and (max-width:480px){
  small{
    display:block;
    text-align:center;
    margin:0 auto;
  }
  .motion_logo{
    position: static;
    display:block;
    margin:10px auto;
  }
}